.hero-section {
  background-position: center 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .video-lightbox {
    top: 116px;
  }
  &.animated {
    visibility: visible !important;
  }
  &.black-bG {
    background-color: black; 
  }
  &:before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background:#000;
	opacity: .4;
  }
  &.reverse-nav:before{
    background:#fff;
    opacity: 1;
  }
  .hero-section-text {
    color: #fff;
   // border-bottom: 1px solid grey;
    // text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    .heading {
      padding: 0 24px;
      margin: 0;
      border-bottom: 1px solid #f2f2f2;
      box-sizing: border-box;
      &.border-zero {
        border: 0;
      }
      .logo-container {
       cursor: pointer;
       outline: none;
        .logo {
          padding-top: 28px;
          z-index: 2;
          position: relative;
          .product {
            font-size:16px;
          }
          .icon {
            font-size: 32px;
            margin-right: 8px;
          }
        }
      }
    }
    .nav-container {
      padding: 28px 0;
    }
    .heading-desc {
      div {
        font-size: 48px;
        font-weight: 100;
        line-height: 1;
        letter-spacing: 0;
        margin-bottom: 24px;
      }
      text-align: center;
      padding: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      .primary-cta {
        width: fit-content;
        line-height: 30px;
        font-weight: 100;
        font-family: Ericsson Hilda;
        font-size: 20px;
      }
    }
  }
}

.hero-section.reverse-nav .hero-section-text {
  color:#000;
}
