.nodes-accordion {
  &.ui-accordion {
    padding: 8px 12px;

    .ui-accordion-header {
      &.ui-state-active {
        background-color: #333;
        border: none;
      }
      a {
        padding: 16px;
        overflow: auto;
        p-header {
          float: left;
        }
      }
      .ui-accordion-toggle-icon {
        &.fa {
          float: right;
          font-size: 18px !important;
          &.fa-caret-down {
            @include icon-override('\e920');
          }
          &.fa-caret-right {
            @include icon-override('\e923');
          }
        }
      }
    }
    .ui-accordion-content {
      background-color: #242424;
      padding: 0;
    }
  }
}

.env-accordion {
  &.ui-accordion {
    padding: 0;
    .ui-accordion-header {
      &.ui-state-active {
        background-color: #333;
      }
      a {
        p-header {
          float: none;
        }
      }
      .ui-accordion-toggle-icon {
        display: none;
      }
      &.ui-state-disabled {
        opacity: 1;
      }
    }
  }
}

.faq-accordion {
  &.ui-accordion {
    .ui-accordion-header {
      border-top: 1px solid;
      border-bottom: 1px solid;
      background: #fff;
      color: #000;
      padding: 24px 0;
      border-width: 1px 0 0 0;
      border-color: #767676;
      &:not(.ui-state-active):not(.ui-state-disabled):hover {
        border-color: #767676;
        background: #fff;
        a {
          color: #000;
        }
      }
      &.ui-state-active {
        background-color: #fff;
        color: #000;
        border-width: 1px 0 0;
      }
      a {
        font-size: 24px;
        padding: 0;
        overflow: auto;
        color: #000;
        p-header {
          float: left;
        }
        .ui-accordion-toggle-icon {
          float: right;
          margin-top: 8px;
          font-size: 24px !important;
          &.fa-caret-down {
            @include icon-override('\e920');
          }
          &.fa-caret-right {
            @include icon-override('\e923');
          }
        }
      }
    }
    .ui-accordion-content {
      background-color: #fff;
      padding: 0 0 20px;
      border-width: 0;
      border-style: solid;
      border-color: #767676;
      color: #000;
      font-size: 20px;
    }
    &.home {
      .ui-accordion-header {
        border-top: .5px solid #767676!important;
        background: #242424;
        color: #f2f2f2;
        padding: 8px 0;
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
          border-color: #767676;
          background: #242424;
          a {
            color: #f2f2f2
          }
        }
        &.ui-state-active {
          background-color: #242424;
          color: #f2f2f2;
        }
        a {
          font-size: 14px;
          color: #f2f2f2;
          p-header {
            float: none;
          }
          .ui-accordion-toggle-icon {
            margin-top: 0;
            &.fa-caret-down {
              @include icon-override('\e96a');
            }
            &.fa-caret-right {
              @include icon-override('\e979');
            }
          }
        }
      }
      .ui-accordion-content {
        background-color: #242424;
        color: #f2f2f2;
        font-size: 14px;
        font-family: "Ericsson Hilda Light";
        .content {
          font-family: "Ericsson Hilda Light";
          text-align: justify;
          max-width: 95%;
          word-wrap: break-word;
        }
      }
    }
  }
}
