@import "../helpers/variables";
.btn {
  border: none;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  font-family: $font-main;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $white;
}
.btn[disabled] {
   opacity: 0.4;
   cursor: not-allowed;
}
.btn:not([disabled]):hover{
  cursor: pointer;
}
.alert-btn {
  @extend .btn;
  background-color: $red;
}
.primary-btn {
  @extend .btn;
  background-color: $blue;
}
.primary-btn:not([disabled]):hover {
  @extend .btn;
  background-color: $primary-hover;
}
.default-btn {
  @extend .btn;
  background-color: transparent;
  border: solid 1px $white;
}
.default-btn:not([disabled]):hover {
  @extend .btn;
  color: $layer2;
  background-color: $default-hover;
}
.btn-disabled {
  opacity: 0.4;
}
.btn-disabled:hover{
  cursor: not-allowed;
}
.primary-dialog-btn {
  @extend .primary-btn;
  width: 67px;
  height: 30px;
}
.primary-small-btn {
  @extend .primary-btn;
  width: 104px;
  height: 30px;
}
.primary-medium-btn {
  @extend .primary-btn;
  width: 130px;
  height: 40px;
}
.primary-medium-disabled-btn {
  @extend .primary-medium-btn;
  @extend .btn-disabled;
}
.primary-small-disabled-btn {
  @extend .primary-small-btn;
  @extend .btn-disabled;
}

.default-small-btn {
  @extend .default-btn;
  width: 101px;
  height: 30px;
}
.default-dialog-btn {
  @extend .default-btn;
  width: 67px;
  height: 30px;
}
.default-medium-btn {
  @extend .default-btn;
  width: 128px;
  height: 40px;
  &.view-all,&.add-ns {
    height: auto;
    width: auto;
    float: right;
  }
}
.default-medium-disabled-btn {
  @extend .default-medium-btn;
  @extend .btn-disabled;
}
.default-small-disabled-btn {
  @extend .default-small-btn;
  @extend .btn-disabled;
}
.alert-dialog-btn{
  @extend .alert-btn;
  width: 67px;
  height: 30px;
}

.deploymentForm {
  .ui-button-text-only {
    &.ui-button-text {
      padding: .2em 1em;
    }
  }
  
  .ui-button{
    font-size: 11px;
    width: 60px;
    height: 17px;
  }
}