//chips
.ui-chips {
  .ui-inputtext {
    border: none;
    .ui-chips-token {
      height: 25px;
      font-size: 12px;
      line-height: 20px;
      .item {
        margin-right: 18px;
      }
      .fa {
        font-size: 12px !important;
        @include icon-override("\e92c");
      }
      &.ui-corner-all {
        border-radius: 15px;
      }
    }
  }
}

//badge
.badge-blue {
  @include badge($blue);
}
.badge-green {
  @include badge($green);
  &.env{
    padding: 0;
  }
}

.badge-red {
  @include badge($red);
}

.badge-orange {
  @include badge($orange);
}
.badge-dark-gray {
  @include badge($dark-gray);
  height: auto;
}

.badge-dark {
  @include badge($tile-layer2);
}
.badge-light {
   @include badge($layer2);
}
//pills
.pills {
  padding: 0;
  li {
    float: left;
    position: relative;
    display: block;
    padding: 5px 20px;
    border-radius: 15px;
    color: $text;
    font-size: 12px;
    text-align: center;
    margin: 5px;
    background-color: $tile-layer2;
    &.idle {
      background: $tile-layer2 url("/../../assets/images/idle.svg") 5px center
        no-repeat;
    }
    &.active {
      background: $tile-layer2 url("/../../assets/images/active.svg") 5px center
        no-repeat;
    }
    &.alert {
      background: $tile-layer2 url("/../../assets/images/alert.svg") 5px center
        no-repeat;
    }
    span {
      &:first-child {
      height: 16px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.5px;
      text-align: center;
      margin: 0 8px;
      }
    }
  }
}

//filter
.filter {
  @extend .pills;
  li {
    cursor: pointer;
    background-color: $tile-layer2;
    margin: 0 1px;
    border-radius: 0;
    &:first-child {
      border-radius: 12px 0 0 12px;
    }
    &:last-child {
      border-radius: 0 12px 12px 0;
    }
    &.selected {
      background-color: $dark-gray;
    }
    span:nth-child(2){
      height: 20px;
      font-size: 12px;
      line-height: 1.43;
      letter-spacing: normal;
    }
  }
}
