.notification-container {
  .ui-growl {
    width: 380px;
    position: fixed;
    top: 4px;
    right: 36%;
    .ui-growl-item-container {
      border: solid 1px #f2f2f233;
      box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.3);
      color: $text;
      margin: 0px;
      &.ui-growl-message-info {
        background-color: $blue;
      }
      &.ui-growl-message-warn {
        background-color: $red;
      }
      .ui-growl-item {
        padding: 16px;
        .fa {
          font-size: 14px !important;
          height: 20px;
          width: 20px;
          text-align: center;
          &.fa-info-circle,&.fa-check {
            position: absolute;
            top: 50%;
            margin-top: -7px;
            @include icon-override("\e91e");
          }
          &.fa-exclamation-circle {
            position: absolute;
            top: 50%;
            margin-top: -7px;
            @include icon-override("\e9ac");
          }
          &.ui-growl-icon-close {
            top: 50%;
            margin-top: -7px;
            font-size: 14px !important;
            @include icon-override("\e92d");
          }
        }
        .ui-growl-message {
          padding: 0;
          margin-left: 16px;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          span {
            display: none;
          }
        }
      }
    }
  }
}
