.ui-multiselect {
  .ui-multiselect-label {
    padding: 11px 12px;
    margin: 0px;
  }
  .ui-multiselect-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .ui-multiselect-trigger {
    border-left: none;
    background: none;
    margin-right: 12px;
    span.fa {
      font-size: 18px !important;
      @include icon-override('\e920');
      margin-top: 12px;
      margin-left: -4px;
    }
  }
  .ui-chkbox {
    float: right;
    align-self: center;
    .ui-chkbox-box {
      border-radius: 50%;
    }
  }
  .ui-multiselect-header {
    padding: 3.5px 0 3.5px 3.5px;
    .ui-inputtext {
      padding: .125em;
    }
    .ui-multiselect-filter-container {
      width: 80%;
      margin-right: 5%;
      .fa {
        top: 0.4em;
        left: auto;
        right: 0.125em;
        font-size: 18px;
        @include icon-override('\e92d');
      }
    }
    .ui-multiselect-close {
      display: none;
    }
  }
  //for targeting dropdown items
  .ui-multiselect-panel {
    padding: 0;
    .ui-multiselect-items-wrapper {
      max-height: 200px;
      .ui-multiselect-item {
        padding: 8px 0 8px 16px;
        label {
          margin-bottom: 0;
        }
      }
    }
  }
  &.group-selection { 
    .ui-multiselect-panel {
      width: 186px;
    }
  }
  &.shared-environment {
    width: 186px;
    .ui-multiselect-item {
      .shared-env-item {
        font-size: 14px;
        margin-top: 4px;
        .environment-label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          width: 120px;
          text-align: left;
        }
      }
    }
  }
}
