@import '../../common/map/map';
.wrapper {
    padding: 16px;
    .map-container {
        position: relative;
        padding: 16px;
        background: #242424;
        .stats-container{
          height: 60px;
          margin-bottom: 8px;
          .stats {
            padding-left: 8px;
            .value {
              font-size: 32px;
            }
            .heading {
              opacity: 0.6;
            }
            &:nth-child(1) {
              border-left: 4px solid #0082f0;
            }
            &:nth-child(2) {
              border-left: 4px solid #36B07F;
            }
            &:nth-child(3) {
              border-left: 4px solid #F2C618;
            }
            &:nth-child(4) {
              border-left: 4px solid #F52323;
            }
          }
        }
        .legend-container {
          position: absolute;
          top: 100px;
          left: 32px;
        }
        .table-container {
          position: absolute;
          top: 84px;
          right: -8px;
          width: 40%;
          z-index: 10002;
          overflow-y: auto;
          max-height: 400px;
          opacity: 0.8;
          .expanded-row-container {
            border-bottom: 0.5px solid $light-gray;
            &:last-child{
              border: none;
            }
            margin-bottom: 8px;
            .item {
              margin-bottom: 16px;
              .col1 {
                font-weight: 800;
                .icon {
                  font-size: 18px;
                }
              }
              .col2 {
                .label {
                  opacity: 0.8;
                }
                .value {
                  margin-top: 4px;
                  font-weight: 800;
                  .progress-bar {
                    width: 100px;
                  }
                }
              }
            }
          }
        }
        .syncing {
          background: url(../../../assets/gifs/syncing.gif) no-repeat 0% 50%;
          background-size: 14px;
          padding-left: 16px;
        }
        .hide-syncing {
          padding-left: 16px;
          background: none;
        }
        .legend {
          -webkit-box-orient: horizontal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
        .circle-container,
        .legend {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-direction: normal;
        }
        .circle-container {
          -webkit-box-orient: vertical;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
        .circle {
          width: 11px;
          height: 11px;
          border-radius: 11px;
          &.orange {
            background: #ff8c0a
          }
          &.green {
            background: #0fc373;
          }
        }
        .legend-name {
          min-width: 100%;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: 8px;
          font-weight: lighter;
          font-size: 0.8rem;
          
        }
        .filter-group {
          font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
          font-weight: 600;
          position: absolute;
          top: 60px;
          left: 16px;
          z-index: 1;
          border-radius: 3px;
          width: 120px;
          color: #fff;
        }
      
        .filter-group input[type='checkbox']:first-child + label {
          border-radius: 3px 3px 0 0;
        }
      
        .filter-group label:last-child {
          border-radius: 0 0 3px 3px;
          border: none;
          background: #0082f0;
        }
      
        .filter-group input[type='checkbox'] {
          display: none;
        }
      
        .filter-group input[type='checkbox'] + label {
          background-color: #f78521;
          display: block;
          cursor: pointer;
          padding: 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        }
      
        .filter-group input[type='checkbox'] + label {
          background-color: #f78521;
          text-transform: capitalize;
        }
      
        .filter-group input[type='checkbox'] + label:last-child {
          background-color: #0082f0;
        }
        .filter-group input[type='checkbox']:checked + label:before {
          content: '✔';
          margin-right: 5px;
        }
      }
}
