{
	"rules": {
		"no-underscore-dangle": 0,
		"no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "next"
			}
		],
		"no-use-before-define": [
			"error",
			{
				"variables": false
			}
		],
		"no-multi-str": 0,
		"indent": "off",
		"arrow-parens": "off",
		"comma-dangle": "off",
		"class-methods-use-this": "off",
		"max-len": ["warn", 120],
		"object-curly-newline": "warn",
		"no-tabs": "off",
		"no-console": "error",
		"no-param-reassign": 0,
		"import/no-extraneous-dependencies": [
			"warning",
			{ "devDependencies": false, "optionalDependencies": false, "peerDependencies": false }
		]
	},
	"env": {
		"node": true,
		"mocha": true
	},
	"parserOptions": {
		"ecmaVersion": 8
	},
	"extends": ["airbnb-base"]
}
