package-lock.json

.git-hooks

# Environment variables
.env*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# sessions
sessions

# prettierrc file
./.prettierrc

# zsh Files
.zshrc

.DS_Store

*.sqlite

uploads

TODO.md

#src/api/assets/

apidump/

*.pid
