@import '../../../sass/helpers/variables.scss';
.map {
  // calculate by subtracting height of header, internal padding and height of stats container
  min-height: calc(100vh  - 200px);
  width: 100%;
  height: 100%;

  a {
    color: $text;
  }
  button {
    float: none;
    margin: 0;
  }
}

.mapboxgl-canvas {
  left: 0;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in {
  background: $layer2;
  color: $text;

  &::before {
    content: '\e9bf';
    font-family: 'edsfont';
    font-size: 16px;
    left: 0 px;
    top: 0 px;
    position: relative;
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
  background: $layer2;
  color: $text;
  &::before {
    content: '\e9c0';
    font-family: 'edsfont';
    font-size: 16px;
    left: 0 px;
    top: 0 px;
    position: relative;
  }
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
  background: $layer2;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
  background: transparent;
  color: $text;
  width: unset;
  height: unset;
  margin: 0;
  padding: 7px;

  &::before {
    content: '\e90d';
    font-family: 'edsfont';
    font-size: 16px;
    left: 0 px;
    top: 0 px;
    position: relative;
  }
}

.mapboxgl-ctrl > button:hover,
.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow:hover {
  background-color: $gray !important;
  color: $white;
}

.mapboxgl-ctrl-group {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  border: solid 1px $gray;
}

.mapboxgl-ctrl-group > button + button {
  border-top: 1px solid $gray;
}

// map marker
.map {

 
  // .active {
  //   &::before {
  //     content: '\e908';
  //     font-family: 'edsfont';
  //     font-size: 16px;
  //     left: 7px;
  //     top: 6px;
  //     position: relative;
  //   }
  //   color: $layer2;
  //   cursor: pointer;
  //   background: $green;
  //   border-radius: 30px;
  //   height: 30px;
  //   width: 30px;
  // }

  .pending {
    &::before {
      content: '\e9a8';
      font-family: 'edsfont';
      font-size: 16px;
      left: 7.5px;
      top: 5px;
      position: relative;
    }
    color: $layer2;
    cursor: pointer;
    background: $orange;
    border-radius: 30px;
    height: 30px;
    width: 30px;
  }

  .failure {
    &::before {
      content: '\e9ac';
      font-family: 'edsfont';
      font-size: 16px;
      left: 7px;
      top: 4px;
      position: relative;
    }
    color: $white;
    cursor: pointer;
    background: $red;
    border-radius: 30px;
    height: 30px;
    width: 30px;
  }

  .spawning {
    background-color: $text;
    border-radius: 30px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .nodeRed {
    background-color: $red;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  /* tower and ripple */

  .tower-icon {
    margin: -118% 0 0 20%;
  }

  .circle-ripple {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
  }

  .circle-ripple.green.big {
    -webkit-animation: ripple-green-big 0.7s linear infinite;
    animation: ripple-green-big 0.7s linear infinite;
  }

  .circle-ripple.blue.big {
    -webkit-animation: ripple-blue-big 0.7s linear infinite;
    animation: ripple-blue-big 0.7s linear infinite;
  }

  .circle-ripple.orange.big {
    -webkit-animation: ripple-orange-big 0.7s linear infinite;
    animation: ripple-orange-big 0.7s linear infinite;
  }

  .circle-ripple.red.big {
    -webkit-animation: ripple-red-big 0.7s linear infinite;
    animation: ripple-red-big 0.7s linear infinite;
  }

  .circle-ripple.grey2.big {
    -webkit-animation: ripple-grey2-big 0.7s linear infinite;
    animation: ripple-grey2-big 0.7s linear infinite;
  }

  .circle-ripple.yellow.big {
    -webkit-animation: ripple-yellow-big 0.7s linear infinite;
    animation: ripple-yellow-big 0.7s linear infinite;
  }

  .circle-ripple.yellow-orange.big {
    -webkit-animation: ripple-yellow-orange-big 0.7s linear infinite;
    animation: ripple-yellow-orange-big 0.7s linear infinite;
  }

  .circle-ripple.orange-red.big {
    -webkit-animation: ripple-orange-red-big 0.7s linear infinite;
    animation: ripple-orange-red-big 0.7s linear infinite;
  }

  .circle-ripple.big {
    width: 0.5em;
    height: 0.5em;
    margin: -18% 28% 73% 43%;
  }

  .circle-ripple.three-d {
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
  }

  .sector-icon {
    position: absolute;
    margin: -290% 0 0 -126%;
    -webkit-transform: rotateX(65deg);
    transform: rotateX(65deg);
    opacity: 0.45;
  }

  .circle-ripple.green.small {
    background-color: #0fc373;
    -webkit-animation: ripple-green-small 0.7s linear infinite;
    animation: ripple-green-small 0.7s linear infinite;
  }

  .circle-ripple.blue.small {
    background-color: #0082f0;
    -webkit-animation: ripple-blue-small 0.7s linear infinite;
    animation: ripple-blue-small 0.7s linear infinite;
  }

  .circle-ripple.orange.small {
    background-color: #ff8c0a;
    -webkit-animation: ripple-orange-small 0.7s linear infinite;
    animation: ripple-orange-small 0.7s linear infinite;
  }

  .circle-ripple.red.small {
    background-color: #d3bfbf;
    -webkit-animation: ripple-red-small 0.7s linear infinite;
    animation: ripple-red-small 0.7s linear infinite;
  }

  .circle-ripple.grey2.small {
    background-color: #767676;
    -webkit-animation: ripple-grey2-small 0.7s linear infinite;
    animation: ripple-grey2-small 0.7s linear infinite;
  }

  .circle-ripple.yellow.small {
    background-color: #fad22d;
    -webkit-animation: ripple-yellow-small 0.7s linear infinite;
    animation: ripple-yellow-small 0.7s linear infinite;
  }

  @-webkit-keyframes ripple-green-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.5em rgba(15, 195, 115, 0.3), 0 0 0 1.5em rgba(15, 195, 115, 0.3),
        0 0 0 3em rgba(15, 195, 115, 0.3);
      box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.5em rgba(15, 195, 115, 0.3), 0 0 0 1.5em rgba(15, 195, 115, 0.3),
        0 0 0 3em rgba(15, 195, 115, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(15, 195, 115, 0.3),
        0 0 0 1.5em rgba(15, 195, 115, 0.3), 0 0 0 3em rgba(15, 195, 115, 0.3),
        0 0 0 4em rgba(15, 195, 115, 0);
      box-shadow: 0 0 0 0.5em rgba(15, 195, 115, 0.3),
        0 0 0 1.5em rgba(15, 195, 115, 0.3), 0 0 0 3em rgba(15, 195, 115, 0.3),
        0 0 0 4em rgba(15, 195, 115, 0);
    }
  }

  @keyframes ripple-green-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.5em rgba(15, 195, 115, 0.3), 0 0 0 1.5em rgba(15, 195, 115, 0.3),
        0 0 0 3em rgba(15, 195, 115, 0.3);
      box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.5em rgba(15, 195, 115, 0.3), 0 0 0 1.5em rgba(15, 195, 115, 0.3),
        0 0 0 3em rgba(15, 195, 115, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(15, 195, 115, 0.3),
        0 0 0 1.5em rgba(15, 195, 115, 0.3), 0 0 0 3em rgba(15, 195, 115, 0.3),
        0 0 0 4em rgba(15, 195, 115, 0);
      box-shadow: 0 0 0 0.5em rgba(15, 195, 115, 0.3),
        0 0 0 1.5em rgba(15, 195, 115, 0.3), 0 0 0 3em rgba(15, 195, 115, 0.3),
        0 0 0 4em rgba(15, 195, 115, 0);
    }
  }

  @-webkit-keyframes ripple-blue-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.5em rgba(0, 130, 240, 0.3), 0 0 0 1.5em rgba(0, 130, 240, 0.3),
        0 0 0 3em rgba(0, 130, 240, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.5em rgba(0, 130, 240, 0.3), 0 0 0 1.5em rgba(0, 130, 240, 0.3),
        0 0 0 3em rgba(0, 130, 240, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(0, 130, 240, 0.3),
        0 0 0 1.5em rgba(0, 130, 240, 0.3), 0 0 0 3em rgba(0, 130, 240, 0.3),
        0 0 0 4em rgba(0, 130, 240, 0);
      box-shadow: 0 0 0 0.5em rgba(0, 130, 240, 0.3),
        0 0 0 1.5em rgba(0, 130, 240, 0.3), 0 0 0 3em rgba(0, 130, 240, 0.3),
        0 0 0 4em rgba(0, 130, 240, 0);
    }
  }

  @keyframes ripple-blue-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.5em rgba(0, 130, 240, 0.3), 0 0 0 1.5em rgba(0, 130, 240, 0.3),
        0 0 0 3em rgba(0, 130, 240, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.5em rgba(0, 130, 240, 0.3), 0 0 0 1.5em rgba(0, 130, 240, 0.3),
        0 0 0 3em rgba(0, 130, 240, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(0, 130, 240, 0.3),
        0 0 0 1.5em rgba(0, 130, 240, 0.3), 0 0 0 3em rgba(0, 130, 240, 0.3),
        0 0 0 4em rgba(0, 130, 240, 0);
      box-shadow: 0 0 0 0.5em rgba(0, 130, 240, 0.3),
        0 0 0 1.5em rgba(0, 130, 240, 0.3), 0 0 0 3em rgba(0, 130, 240, 0.3),
        0 0 0 4em rgba(0, 130, 240, 0);
    }
  }

  @-webkit-keyframes ripple-orange-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.5em rgba(255, 140, 10, 0.3), 0 0 0 1.5em rgba(255, 140, 10, 0.3),
        0 0 0 3em rgba(255, 140, 10, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.5em rgba(255, 140, 10, 0.3), 0 0 0 1.5em rgba(255, 140, 10, 0.3),
        0 0 0 3em rgba(255, 140, 10, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(255, 140, 10, 0.3),
        0 0 0 1.5em rgba(255, 140, 10, 0.3), 0 0 0 3em rgba(255, 140, 10, 0.3),
        0 0 0 4em rgba(255, 140, 10, 0);
      box-shadow: 0 0 0 0.5em rgba(255, 140, 10, 0.3),
        0 0 0 1.5em rgba(255, 140, 10, 0.3), 0 0 0 3em rgba(255, 140, 10, 0.3),
        0 0 0 4em rgba(255, 140, 10, 0);
    }
  }

  @keyframes ripple-orange-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.5em rgba(255, 140, 10, 0.3), 0 0 0 1.5em rgba(255, 140, 10, 0.3),
        0 0 0 3em rgba(255, 140, 10, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.5em rgba(255, 140, 10, 0.3), 0 0 0 1.5em rgba(255, 140, 10, 0.3),
        0 0 0 3em rgba(255, 140, 10, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(255, 140, 10, 0.3),
        0 0 0 1.5em rgba(255, 140, 10, 0.3), 0 0 0 3em rgba(255, 140, 10, 0.3),
        0 0 0 4em rgba(255, 140, 10, 0);
      box-shadow: 0 0 0 0.5em rgba(255, 140, 10, 0.3),
        0 0 0 1.5em rgba(255, 140, 10, 0.3), 0 0 0 3em rgba(255, 140, 10, 0.3),
        0 0 0 4em rgba(255, 140, 10, 0);
    }
  }

  @-webkit-keyframes ripple-red-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.5em rgba(255, 50, 50, 0.3), 0 0 0 1.5em rgba(255, 50, 50, 0.3),
        0 0 0 3em rgba(255, 50, 50, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.5em rgba(255, 50, 50, 0.3), 0 0 0 1.5em rgba(255, 50, 50, 0.3),
        0 0 0 3em rgba(255, 50, 50, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(255, 50, 50, 0.3),
        0 0 0 1.5em rgba(255, 50, 50, 0.3), 0 0 0 3em rgba(255, 50, 50, 0.3),
        0 0 0 4em rgba(255, 50, 50, 0);
      box-shadow: 0 0 0 0.5em rgba(255, 50, 50, 0.3),
        0 0 0 1.5em rgba(255, 50, 50, 0.3), 0 0 0 3em rgba(255, 50, 50, 0.3),
        0 0 0 4em rgba(255, 50, 50, 0);
    }
  }

  @keyframes ripple-red-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.5em rgba(255, 50, 50, 0.3), 0 0 0 1.5em rgba(255, 50, 50, 0.3),
        0 0 0 3em rgba(255, 50, 50, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.5em rgba(255, 50, 50, 0.3), 0 0 0 1.5em rgba(255, 50, 50, 0.3),
        0 0 0 3em rgba(255, 50, 50, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(255, 50, 50, 0.3),
        0 0 0 1.5em rgba(255, 50, 50, 0.3), 0 0 0 3em rgba(255, 50, 50, 0.3),
        0 0 0 4em rgba(255, 50, 50, 0);
      box-shadow: 0 0 0 0.5em rgba(255, 50, 50, 0.3),
        0 0 0 1.5em rgba(255, 50, 50, 0.3), 0 0 0 3em rgba(255, 50, 50, 0.3),
        0 0 0 4em rgba(255, 50, 50, 0);
    }
  }

  @-webkit-keyframes ripple-grey2-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.5em hsla(0, 0%, 46%, 0.3), 0 0 0 1.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 3em hsla(0, 0%, 46%, 0.3);
      box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.5em hsla(0, 0%, 46%, 0.3), 0 0 0 1.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 3em hsla(0, 0%, 46%, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 1.5em hsla(0, 0%, 46%, 0.3), 0 0 0 3em hsla(0, 0%, 46%, 0.3),
        0 0 0 4em hsla(0, 0%, 46%, 0);
      box-shadow: 0 0 0 0.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 1.5em hsla(0, 0%, 46%, 0.3), 0 0 0 3em hsla(0, 0%, 46%, 0.3),
        0 0 0 4em hsla(0, 0%, 46%, 0);
    }
  }

  @keyframes ripple-grey2-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.5em hsla(0, 0%, 46%, 0.3), 0 0 0 1.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 3em hsla(0, 0%, 46%, 0.3);
      box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.5em hsla(0, 0%, 46%, 0.3), 0 0 0 1.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 3em hsla(0, 0%, 46%, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 1.5em hsla(0, 0%, 46%, 0.3), 0 0 0 3em hsla(0, 0%, 46%, 0.3),
        0 0 0 4em hsla(0, 0%, 46%, 0);
      box-shadow: 0 0 0 0.5em hsla(0, 0%, 46%, 0.3),
        0 0 0 1.5em hsla(0, 0%, 46%, 0.3), 0 0 0 3em hsla(0, 0%, 46%, 0.3),
        0 0 0 4em hsla(0, 0%, 46%, 0);
    }
  }

  @-webkit-keyframes ripple-yellow-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.5em rgba(250, 210, 45, 0.3), 0 0 0 1.5em rgba(250, 210, 45, 0.3),
        0 0 0 3em rgba(250, 210, 45, 0.3);
      box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.5em rgba(250, 210, 45, 0.3), 0 0 0 1.5em rgba(250, 210, 45, 0.3),
        0 0 0 3em rgba(250, 210, 45, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(250, 210, 45, 0.3),
        0 0 0 1.5em rgba(250, 210, 45, 0.3), 0 0 0 3em rgba(250, 210, 45, 0.3),
        0 0 0 4em rgba(250, 210, 45, 0);
      box-shadow: 0 0 0 0.5em rgba(250, 210, 45, 0.3),
        0 0 0 1.5em rgba(250, 210, 45, 0.3), 0 0 0 3em rgba(250, 210, 45, 0.3),
        0 0 0 4em rgba(250, 210, 45, 0);
    }
  }

  @keyframes ripple-yellow-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.5em rgba(250, 210, 45, 0.3), 0 0 0 1.5em rgba(250, 210, 45, 0.3),
        0 0 0 3em rgba(250, 210, 45, 0.3);
      box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.5em rgba(250, 210, 45, 0.3), 0 0 0 1.5em rgba(250, 210, 45, 0.3),
        0 0 0 3em rgba(250, 210, 45, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(250, 210, 45, 0.3),
        0 0 0 1.5em rgba(250, 210, 45, 0.3), 0 0 0 3em rgba(250, 210, 45, 0.3),
        0 0 0 4em rgba(250, 210, 45, 0);
      box-shadow: 0 0 0 0.5em rgba(250, 210, 45, 0.3),
        0 0 0 1.5em rgba(250, 210, 45, 0.3), 0 0 0 3em rgba(250, 210, 45, 0.3),
        0 0 0 4em rgba(250, 210, 45, 0);
    }
  }

  @-webkit-keyframes ripple-yellow-orange-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(253, 175, 27, 0.3),
        0 0 0 0.5em rgba(253, 175, 27, 0.3), 0 0 0 1.5em rgba(253, 175, 27, 0.3),
        0 0 0 3em rgba(253, 175, 27, 0.3);
      box-shadow: 0 0 0 0 rgba(253, 175, 27, 0.3),
        0 0 0 0.5em rgba(253, 175, 27, 0.3), 0 0 0 1.5em rgba(253, 175, 27, 0.3),
        0 0 0 3em rgba(253, 175, 27, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(253, 175, 27, 0.3),
        0 0 0 1.5em rgba(253, 175, 27, 0.3), 0 0 0 3em rgba(253, 175, 27, 0.3),
        0 0 0 4em rgba(253, 175, 27, 0);
      box-shadow: 0 0 0 0.5em rgba(253, 175, 27, 0.3),
        0 0 0 1.5em rgba(253, 175, 27, 0.3), 0 0 0 3em rgba(253, 175, 27, 0.3),
        0 0 0 4em rgba(253, 175, 27, 0);
    }
  }

  @keyframes ripple-yellow-orange-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(253, 175, 27, 0.3),
        0 0 0 0.5em rgba(253, 175, 27, 0.3), 0 0 0 1.5em rgba(253, 175, 27, 0.3),
        0 0 0 3em rgba(253, 175, 27, 0.3);
      box-shadow: 0 0 0 0 rgba(253, 175, 27, 0.3),
        0 0 0 0.5em rgba(253, 175, 27, 0.3), 0 0 0 1.5em rgba(253, 175, 27, 0.3),
        0 0 0 3em rgba(253, 175, 27, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(253, 175, 27, 0.3),
        0 0 0 1.5em rgba(253, 175, 27, 0.3), 0 0 0 3em rgba(253, 175, 27, 0.3),
        0 0 0 4em rgba(253, 175, 27, 0);
      box-shadow: 0 0 0 0.5em rgba(253, 175, 27, 0.3),
        0 0 0 1.5em rgba(253, 175, 27, 0.3), 0 0 0 3em rgba(253, 175, 27, 0.3),
        0 0 0 4em rgba(253, 175, 27, 0);
    }
  }

  @-webkit-keyframes ripple-orange-red-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(253, 130, 47, 0.3),
        0 0 0 0.5em rgba(253, 130, 47, 0.3), 0 0 0 1.5em rgba(253, 130, 47, 0.3),
        0 0 0 3em rgba(253, 130, 47, 0.3);
      box-shadow: 0 0 0 0 rgba(253, 130, 47, 0.3),
        0 0 0 0.5em rgba(253, 130, 47, 0.3), 0 0 0 1.5em rgba(253, 130, 47, 0.3),
        0 0 0 3em rgba(253, 130, 47, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(253, 130, 47, 0.3),
        0 0 0 1.5em rgba(253, 130, 47, 0.3), 0 0 0 3em rgba(253, 130, 47, 0.3),
        0 0 0 4em rgba(253, 130, 47, 0);
      box-shadow: 0 0 0 0.5em rgba(253, 130, 47, 0.3),
        0 0 0 1.5em rgba(253, 130, 47, 0.3), 0 0 0 3em rgba(253, 130, 47, 0.3),
        0 0 0 4em rgba(253, 130, 47, 0);
    }
  }

  @keyframes ripple-orange-red-big {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(253, 130, 47, 0.3),
        0 0 0 0.5em rgba(253, 130, 47, 0.3), 0 0 0 1.5em rgba(253, 130, 47, 0.3),
        0 0 0 3em rgba(253, 130, 47, 0.3);
      box-shadow: 0 0 0 0 rgba(253, 130, 47, 0.3),
        0 0 0 0.5em rgba(253, 130, 47, 0.3), 0 0 0 1.5em rgba(253, 130, 47, 0.3),
        0 0 0 3em rgba(253, 130, 47, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.5em rgba(253, 130, 47, 0.3),
        0 0 0 1.5em rgba(253, 130, 47, 0.3), 0 0 0 3em rgba(253, 130, 47, 0.3),
        0 0 0 4em rgba(253, 130, 47, 0);
      box-shadow: 0 0 0 0.5em rgba(253, 130, 47, 0.3),
        0 0 0 1.5em rgba(253, 130, 47, 0.3), 0 0 0 3em rgba(253, 130, 47, 0.3),
        0 0 0 4em rgba(253, 130, 47, 0);
    }
  }

  @-webkit-keyframes ripple-green-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.1em rgba(15, 195, 115, 0.3), 0 0 0 0.3em rgba(15, 195, 115, 0.3),
        0 0 0 0.8em rgba(15, 195, 115, 0.3);
      box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.1em rgba(15, 195, 115, 0.3), 0 0 0 0.3em rgba(15, 195, 115, 0.3),
        0 0 0 0.8em rgba(15, 195, 115, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(15, 195, 115, 0.3),
        0 0 0 0.3em rgba(15, 195, 115, 0.3), 0 0 0 0.8em rgba(15, 195, 115, 0.3),
        0 0 0 1em rgba(15, 195, 115, 0);
      box-shadow: 0 0 0 0.1em rgba(15, 195, 115, 0.3),
        0 0 0 0.3em rgba(15, 195, 115, 0.3), 0 0 0 0.8em rgba(15, 195, 115, 0.3),
        0 0 0 1em rgba(15, 195, 115, 0);
    }
  }

  @keyframes ripple-green-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.1em rgba(15, 195, 115, 0.3), 0 0 0 0.3em rgba(15, 195, 115, 0.3),
        0 0 0 0.8em rgba(15, 195, 115, 0.3);
      box-shadow: 0 0 0 0 rgba(15, 195, 115, 0.3),
        0 0 0 0.1em rgba(15, 195, 115, 0.3), 0 0 0 0.3em rgba(15, 195, 115, 0.3),
        0 0 0 0.8em rgba(15, 195, 115, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(15, 195, 115, 0.3),
        0 0 0 0.3em rgba(15, 195, 115, 0.3), 0 0 0 0.8em rgba(15, 195, 115, 0.3),
        0 0 0 1em rgba(15, 195, 115, 0);
      box-shadow: 0 0 0 0.1em rgba(15, 195, 115, 0.3),
        0 0 0 0.3em rgba(15, 195, 115, 0.3), 0 0 0 0.8em rgba(15, 195, 115, 0.3),
        0 0 0 1em rgba(15, 195, 115, 0);
    }
  }

  @-webkit-keyframes ripple-blue-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.1em rgba(0, 130, 240, 0.3), 0 0 0 0.3em rgba(0, 130, 240, 0.3),
        0 0 0 0.8em rgba(0, 130, 240, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.1em rgba(0, 130, 240, 0.3), 0 0 0 0.3em rgba(0, 130, 240, 0.3),
        0 0 0 0.8em rgba(0, 130, 240, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(0, 130, 240, 0.3),
        0 0 0 0.3em rgba(0, 130, 240, 0.3), 0 0 0 0.8em rgba(0, 130, 240, 0.3),
        0 0 0 1em rgba(0, 130, 240, 0);
      box-shadow: 0 0 0 0.1em rgba(0, 130, 240, 0.3),
        0 0 0 0.3em rgba(0, 130, 240, 0.3), 0 0 0 0.8em rgba(0, 130, 240, 0.3),
        0 0 0 1em rgba(0, 130, 240, 0);
    }
  }

  @keyframes ripple-blue-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.1em rgba(0, 130, 240, 0.3), 0 0 0 0.3em rgba(0, 130, 240, 0.3),
        0 0 0 0.8em rgba(0, 130, 240, 0.3);
      box-shadow: 0 0 0 0 rgba(0, 130, 240, 0.3),
        0 0 0 0.1em rgba(0, 130, 240, 0.3), 0 0 0 0.3em rgba(0, 130, 240, 0.3),
        0 0 0 0.8em rgba(0, 130, 240, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(0, 130, 240, 0.3),
        0 0 0 0.3em rgba(0, 130, 240, 0.3), 0 0 0 0.8em rgba(0, 130, 240, 0.3),
        0 0 0 1em rgba(0, 130, 240, 0);
      box-shadow: 0 0 0 0.1em rgba(0, 130, 240, 0.3),
        0 0 0 0.3em rgba(0, 130, 240, 0.3), 0 0 0 0.8em rgba(0, 130, 240, 0.3),
        0 0 0 1em rgba(0, 130, 240, 0);
    }
  }

  @-webkit-keyframes ripple-orange-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.1em rgba(255, 140, 10, 0.3), 0 0 0 0.3em rgba(255, 140, 10, 0.3),
        0 0 0 0.8em rgba(255, 140, 10, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.1em rgba(255, 140, 10, 0.3), 0 0 0 0.3em rgba(255, 140, 10, 0.3),
        0 0 0 0.8em rgba(255, 140, 10, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(255, 140, 10, 0.3),
        0 0 0 0.3em rgba(255, 140, 10, 0.3), 0 0 0 0.8em rgba(255, 140, 10, 0.3),
        0 0 0 1em rgba(255, 140, 10, 0);
      box-shadow: 0 0 0 0.1em rgba(255, 140, 10, 0.3),
        0 0 0 0.3em rgba(255, 140, 10, 0.3), 0 0 0 0.8em rgba(255, 140, 10, 0.3),
        0 0 0 1em rgba(255, 140, 10, 0);
    }
  }

  @keyframes ripple-orange-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.1em rgba(255, 140, 10, 0.3), 0 0 0 0.3em rgba(255, 140, 10, 0.3),
        0 0 0 0.8em rgba(255, 140, 10, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 140, 10, 0.3),
        0 0 0 0.1em rgba(255, 140, 10, 0.3), 0 0 0 0.3em rgba(255, 140, 10, 0.3),
        0 0 0 0.8em rgba(255, 140, 10, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(255, 140, 10, 0.3),
        0 0 0 0.3em rgba(255, 140, 10, 0.3), 0 0 0 0.8em rgba(255, 140, 10, 0.3),
        0 0 0 1em rgba(255, 140, 10, 0);
      box-shadow: 0 0 0 0.1em rgba(255, 140, 10, 0.3),
        0 0 0 0.3em rgba(255, 140, 10, 0.3), 0 0 0 0.8em rgba(255, 140, 10, 0.3),
        0 0 0 1em rgba(255, 140, 10, 0);
    }
  }

  @-webkit-keyframes ripple-red-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.1em rgba(255, 50, 50, 0.3), 0 0 0 0.3em rgba(255, 50, 50, 0.3),
        0 0 0 0.8em rgba(255, 50, 50, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.1em rgba(255, 50, 50, 0.3), 0 0 0 0.3em rgba(255, 50, 50, 0.3),
        0 0 0 0.8em rgba(255, 50, 50, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(255, 50, 50, 0.3),
        0 0 0 0.3em rgba(255, 50, 50, 0.3), 0 0 0 0.8em rgba(255, 50, 50, 0.3),
        0 0 0 1em rgba(255, 50, 50, 0);
      box-shadow: 0 0 0 0.1em rgba(255, 50, 50, 0.3),
        0 0 0 0.3em rgba(255, 50, 50, 0.3), 0 0 0 0.8em rgba(255, 50, 50, 0.3),
        0 0 0 1em rgba(255, 50, 50, 0);
    }
  }

  @keyframes ripple-red-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.1em rgba(255, 50, 50, 0.3), 0 0 0 0.3em rgba(255, 50, 50, 0.3),
        0 0 0 0.8em rgba(255, 50, 50, 0.3);
      box-shadow: 0 0 0 0 rgba(255, 50, 50, 0.3),
        0 0 0 0.1em rgba(255, 50, 50, 0.3), 0 0 0 0.3em rgba(255, 50, 50, 0.3),
        0 0 0 0.8em rgba(255, 50, 50, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(255, 50, 50, 0.3),
        0 0 0 0.3em rgba(255, 50, 50, 0.3), 0 0 0 0.8em rgba(255, 50, 50, 0.3),
        0 0 0 1em rgba(255, 50, 50, 0);
      box-shadow: 0 0 0 0.1em rgba(255, 50, 50, 0.3),
        0 0 0 0.3em rgba(255, 50, 50, 0.3), 0 0 0 0.8em rgba(255, 50, 50, 0.3),
        0 0 0 1em rgba(255, 50, 50, 0);
    }
  }

  @-webkit-keyframes ripple-grey2-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.1em hsla(0, 0%, 46%, 0.3), 0 0 0 0.3em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.8em hsla(0, 0%, 46%, 0.3);
      box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.1em hsla(0, 0%, 46%, 0.3), 0 0 0 0.3em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.8em hsla(0, 0%, 46%, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.3em hsla(0, 0%, 46%, 0.3), 0 0 0 0.8em hsla(0, 0%, 46%, 0.3),
        0 0 0 1em hsla(0, 0%, 46%, 0);
      box-shadow: 0 0 0 0.1em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.3em hsla(0, 0%, 46%, 0.3), 0 0 0 0.8em hsla(0, 0%, 46%, 0.3),
        0 0 0 1em hsla(0, 0%, 46%, 0);
    }
  }

  @keyframes ripple-grey2-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.1em hsla(0, 0%, 46%, 0.3), 0 0 0 0.3em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.8em hsla(0, 0%, 46%, 0.3);
      box-shadow: 0 0 0 0 hsla(0, 0%, 46%, 0.3),
        0 0 0 0.1em hsla(0, 0%, 46%, 0.3), 0 0 0 0.3em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.8em hsla(0, 0%, 46%, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.3em hsla(0, 0%, 46%, 0.3), 0 0 0 0.8em hsla(0, 0%, 46%, 0.3),
        0 0 0 1em hsla(0, 0%, 46%, 0);
      box-shadow: 0 0 0 0.1em hsla(0, 0%, 46%, 0.3),
        0 0 0 0.3em hsla(0, 0%, 46%, 0.3), 0 0 0 0.8em hsla(0, 0%, 46%, 0.3),
        0 0 0 1em hsla(0, 0%, 46%, 0);
    }
  }

  @-webkit-keyframes ripple-yellow-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.1em rgba(250, 210, 45, 0.3), 0 0 0 0.3em rgba(250, 210, 45, 0.3),
        0 0 0 0.8em rgba(250, 210, 45, 0.3);
      box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.1em rgba(250, 210, 45, 0.3), 0 0 0 0.3em rgba(250, 210, 45, 0.3),
        0 0 0 0.8em rgba(250, 210, 45, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(250, 210, 45, 0.3),
        0 0 0 0.3em rgba(250, 210, 45, 0.3), 0 0 0 0.8em rgba(250, 210, 45, 0.3),
        0 0 0 1em rgba(250, 210, 45, 0);
      box-shadow: 0 0 0 0.1em rgba(250, 210, 45, 0.3),
        0 0 0 0.3em rgba(250, 210, 45, 0.3), 0 0 0 0.8em rgba(250, 210, 45, 0.3),
        0 0 0 1em rgba(250, 210, 45, 0);
    }
  }

  @keyframes ripple-yellow-small {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.1em rgba(250, 210, 45, 0.3), 0 0 0 0.3em rgba(250, 210, 45, 0.3),
        0 0 0 0.8em rgba(250, 210, 45, 0.3);
      box-shadow: 0 0 0 0 rgba(250, 210, 45, 0.3),
        0 0 0 0.1em rgba(250, 210, 45, 0.3), 0 0 0 0.3em rgba(250, 210, 45, 0.3),
        0 0 0 0.8em rgba(250, 210, 45, 0.3);
    }
    to {
      -webkit-box-shadow: 0 0 0 0.1em rgba(250, 210, 45, 0.3),
        0 0 0 0.3em rgba(250, 210, 45, 0.3), 0 0 0 0.8em rgba(250, 210, 45, 0.3),
        0 0 0 1em rgba(250, 210, 45, 0);
      box-shadow: 0 0 0 0.1em rgba(250, 210, 45, 0.3),
        0 0 0 0.3em rgba(250, 210, 45, 0.3), 0 0 0 0.8em rgba(250, 210, 45, 0.3),
        0 0 0 1em rgba(250, 210, 45, 0);
    }
  }
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  color: #242424;
  padding: 12px 8px 8px !important;
}

.mapboxgl-ctrl-bottom-left,
.mapbox-improve-map {
  display: none !important;
}
