<div fxLayout fxLayoutGap="8px" #statsContainer class="stats-container">
    <div   class="stats" fxFlex="25%" fxFlexAlign="center">
      <div class="value animated fadeIn slower">
       {{speed}}
      </div>
      <div class="heading">Average Speed</div>
    </div>
    <div class="stats" fxFlex="25%" fxFlexAlign="center">
        <div class="value animated fadeIn slower">
        {{time}}
        </div>
        <div class="heading">Estimated Time</div>
    </div>
    <div class="stats" fxFlex="25%" fxFlexAlign="center">
        <div class="value animated fadeIn slower">
          {{fuel}}
        </div>
        <div class="heading">Fuel Consumption </div>
    </div>
    <div 
      class="stats" fxFlex="25%" fxFlexAlign="center">
      <div class="value animated fadeIn slower">
        {{carbon}}
      </div>
      <div class="heading">Carbon Footprint</div>
    </div>


 </div>