html {
 height: 100%; // TODO: need to remove
}
body {
 overflow-y: hidden;
 background-color: #242424;
 margin: 0;
 height:100%;
}
/////////////////////////////////////
// Layout - Scrollbar
/////////////////////////////////////

* {
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
      background: transparent;
    }
  
    &::-webkit-scrollbar-corner {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #4e4e4e;
    }
  }
  