/////////////////////////////////////
// Font - Typography
/////////////////////////////////////
@import '../helpers/variables';


body {
  //font-size: 14px;
  color: $text;
  font-family: "Ericsson Hilda", Helvetica, Arial, sans-serif;

  /* Better Font Rendering =========== */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-top: 0;
  line-height: 1.5em;
  color: $paragraph;

  &.subtle {
    opacity: .5;
  }
}

.section {
  opacity: .7;
  padding: $space-base 0;

  &.no-padding-top {
    padding-top: 0;
  }

  &.full-opacity {
    opacity: 1;
  }

  &.purple {
    color: $purple;
  }
}

// Links
a {
  color: $link-blue;
  cursor: pointer;
  text-decoration: none;

  &.not-link {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  &.subtle-link {
    color: $text;
    text-decoration: underline dashed;

    &:hover {
      text-decoration-color: $blue;
      text-decoration-style: solid;
    }
  }
}

// lists
ol, ul {
  margin-top: 0;
  color: $paragraph;

  li {
    padding: 0 0 $space-base;
  }
}

// Hilda Font
@font-face {
    font-family: "Ericsson Hilda Bold";
    src: local("Ericsson Hilda Bold"), local("EricssonHilda-Bold"), url("assets/fonts/EricssonHilda-Bold.woff2") format("woff2"), url("assets/fonts/EricssonHilda-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Ericsson Hilda";
    src: local("Ericsson Hilda Regular"), local("EricssonHilda-Regular"), url("assets/fonts/EricssonHilda-Regular.woff2") format("woff2"), url("assets/fonts/EricssonHilda-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Ericsson Hilda Light";
    src: local("Ericsson Hilda Light"), local("EricssonHilda-Light"), url("assets/fonts/EricssonHilda-Light.woff2") format("woff2"), url("assets/fonts/EricssonHilda-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Hilda Mono";
    src: url("assets/fonts/HildaMono02-Regular.eot");
    src: local("Hilda Mono Regular"), local("HildaMono02-Regular"), url("assets/fonts/HildaMono02-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/HildaMono02-Regular.woff") format("woff"), url("assets/fonts/HildaMono02-Regular.ttf") format("truetype"), url("assets/fonts/HildaMono02-Regular.svg#HildaMono02-Regular") format("svg");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Hilda Mono";
    src: url("assets/fonts/HildaMono02-Light.eot");
    src: local("Hilda Mono Light"), local("HildaMono02-Light"), url("assets/fonts/HildaMono02-Light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/HildaMono02-Light.woff") format("woff"), url("assets/fonts/HildaMono02-Light.ttf") format("truetype"), url("assets/fonts/HildaMono02-Light.svg#HildaMono02-Light") format("svg");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Hilda Mono";
    src: url("assets/fonts/HildaMono02-Bold.eot");
    src: local("Hilda Mono Bold"), local("HildaMono02-Bold"), url("assets/fonts/HildaMono02-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/HildaMono02-Bold.woff") format("woff"), url("assets/fonts/HildaMono02-Bold.ttf") format("truetype"), url("assets/fonts/HildaMono02-Bold.svg#HildaMono02-Bold") format("svg");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "edsfont";
    src: url("assets/fonts/Ericsson-Icons.eot?kih36u");
    src: url("assets/fonts/Ericsson-Icons.eot?kih36u#iefix") format("embedded-opentype"), url("assets/fonts/Ericsson-Icons.ttf?kih36u") format("truetype"), url("assets/fonts/Ericsson-Icons.woff?kih36u") format("woff"), url("assets/fonts/Ericsson-Icons.svg?kih36u#Ericsson-Icons") format("svg");
    font-style: normal;
  }

  h2 {
  font-family: $font-main;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.09;
  letter-spacing: normal;
  text-align: left;
  color: #f2f2f2;
  }

 label{
  display: block;
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 100;
 }

 .validation-error {
  display:block;
  margin-bottom: $space-small;
  font-size: 12px;
  color: $red;
}

.cpu {
.ui-progressbar-value.ui-widget-header {
  background-color: #0082f0;
  height:20%;
}
}


.ram .ui-progressbar-value {
  background-color: #8e45b0;
  height:20%
}

.ui-selectbutton{
  margin-bottom:8px;
  .ui-button{
&:focus {
  background: #0082fe;
}
&.ui-state-focus{
  background: #0082fe;
}
}
}